{% extends 'base.html' %}
{% load static %}
{% block body_block %}

  <div  class="jumbotron">
    <h2>{{plumber.user.first_name}} {{plumber.user.last_name}}</h2>
    <div style="display:inline-block">
    <label>Available </label>
    {% if plumber.is_avaliable %}
      <h3 id='acitve_status'>Status :  Avaliable</h3>
    {% else %}
      <h3 id='acitve_status'>Status :  Not Avaliable</h3>
    {% endif %}
    <label class="switch">
      {% if plumber.is_avaliable %}

        <input type="checkbox" id="checkbox" value="{{plumber.is_available}}" checked >
      {% else %}

        <input type="checkbox" id="checkbox" value="{{plumber.is_available}}" >
      {% endif %}
      <span class="slider round"></span>
    </label>
    </div>
  </div >



  <script src="https://code.jquery.com/jquery-3.3.1.js"></script >
  <script type="text/javascript">
  $(document).ready(function() {
      $('#checkbox').change(function() {
          $.post("{% url 'plumber:toggle' %}", {
              id: '{{plumber.id}}',
              isworking: this.checked,
              csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          function(data){
            
            $("#acitve_status").text(data);
          });
      });
  });

  </script>
{% endblock %}
