{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block body_block %}


<div class="jumbotron">

  <h2>
    {% if form.instance.pk %}
      Update Profile:
    {% else %}
      Create Complete Profile First:
    {% endif %}

  </h2>


    <form enctype="multipart/form-data" method="post" id ='pestcontrolForm' data-areas-url="{% url 'ajax_load_cities' %}">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit"  value="Update Profile">
    </form>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>

  $("#id_city").change(function () {

      const url = $("#pestcontrolForm").attr("data-areas-url");  // get the url of the `load_cities` view

      const cityId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
          url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
          data: {
              'city_id': cityId       // add the country id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_cities` view function

              $("#id_area").html(data);  // replace the contents of the city input with the data that came from the server
              /*

              let html_data = '<option value="">---------</option>';
              data.forEach(function (city) {
                  html_data += `<option value="${city.id}">${city.name}</option>`
              });
              console.log(html_data);
              $("#id_city").html(html_data);

              */
          }
      });

  });
</script>

{% endblock %}
