{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block body_block %}

  <div class="jumbotron">
    {% if user.is_authenticated %}
      <h2 class="text-center">Thanks For Registering!</h2>
    {% else %}
      <h2 class="text-center">Register Here!<small>as User</small></h2>
      <hr>
      <h3>Fill Out The Form:</h3>

      <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit"  value="Register" class="form-control btn-success">
      </form>
    {% endif %}
  </div>

{% endblock %}
