{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block body_block %}

  <div class="jumbotron">
    {% for message in messages %}
      <p id="messages">{{message}}</p>
    {% endfor %}
    {% if user.is_authenticated %}
      <h1>Thanks For Registering!</h1>
    {% else %}
      <h1>Register Here!</h1>
      <h3>Fill Out The Form:</h3>

      <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_form typeservice %}
        <input type="submit"  value="Register">
      </form>
    {% endif %}
  </div>

{% endblock %}
