{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<style>
body, html {
  height: 100%;
  margin: 0;

}
  body{background: #eee url({% static 'images/home2backgrnd.jpg' %});
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 2s;
  animation-name: animatebottom;
  animation-duration: 2s
}
@-webkit-keyframes animatebottom {
  from { bottom:-50px; opacity:0 }
  to { bottom:0px; opacity:1 }
}
@keyframes animatebottom {
  from{ bottom:-50px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

</style>
<div class="text-center animate-bottom ">
  <h2 ><strong>Hire Home Services App</strong></h2>
  <br>
  <h2>Where you can Contact Plumber, Eectrician, Carpenter, Pest-Control, ...</h2>
  <br>
  <h4>Sign-up as user to details of Plumbers,Plumber, Eectrician, Carpenter, Pest-Control in Your Area</h4>
  <h4>or Sign-up as Service Provider, so users in your area can view your profile and contact you.</h4>
  <br>
  <h4><strong>Developed by: Skand Jain </strong></h4>
  <h4><strong>Profile: <a href="https://www.linkedin.com/in/skand-jain-7847731a5/" target="_blank">Linkedin</a></strong></h4>
  <h4><strong>Have a Nice Day!</strong></h4>
</div>

{% endblock %}
